<div class="push-popup">
	<h2>Conditions générales d'utilisation pour application</h2>
	<h3>Article 1 - Définitions</h3>
	<p>On désignera par la suite: <br>
		- 'Application' : l'application Push et l'ensemble de ses pages et écrans <br>
		- 'Editeur' : La personne, morale ou physique, responsable de l'édition et du contenu de l'application <br>
		- 'Utilisateur' : Le mobinaute visitant et utilisant l'application <br>
	</p>
	<h3>Article 2 - Mentions imposées par la loi de confiance dans l’économie numérique et objet de l'application</h3>
	<p>
	La présente application est éditée par Agence UTF-8 SAS.<br>
	Les informations légales concernant l'éditeur de l'application, notamment les coordonnées et les éventuelles informations de capital et d'immatriculation, sont fournies dans les mentions légales de l'application.
	Les informations concernant la collecte et le traitement des données personnelles (politique et déclaration) sont fournies dans la charte de données personnelles de l'application.
	Un parrain virtuel qui vous accompagne dans la désintoxication du smartphone. <br>
	L'utilisation de l'application suppose l’acceptation, par l'utilisateur, de l’intégralité des présentes conditions générales, qu'il reconnaît du même fait en avoir pris pleinement connaissance. Cette acceptation sera réputée avoir la même valeur qu’une signature manuscrite de la part de l'utilisateur. L'utilisateur reconnaît la valeur de preuve des systèmes d’enregistrement automatique de l’éditeur de l'application et, sauf pour lui d’apporter une preuve contraire, il renonce à les contester en cas de litige. <br>
	L’acceptation des présentes conditions générales suppose de la part des utilisateurs qu’ils jouissent de la capacité juridique nécessaire pour cela. Si l'utilisateur est mineur ou ne dispose pas de cette capacité juridique, il déclare avoir l’autorisation d’un tuteur, d’un curateur ou de son représentant légal. 
	</p>
	<h3>Article 4 - Exonération de la responsabilité de l’éditeur dans le cadre de l’exécution du présent contrat</h3>
	<p>
	En cas d’impossibilité d’accès à l'application, en raison de problèmes techniques ou de toutes natures, l'utilisateur ne pourra se prévaloir d’un dommage et ne pourra prétendre à aucune indemnité. <br>
	Les liens hypertextes présents sur l'application peuvent renvoyer sur d'autres applications ou sur des sites internet et la responsabilité de l’éditeur de l'application ne saurait être engagée si le contenu de ces sites et applications contrevient aux législations en vigueur. De même la responsabilité de l’éditeur ne saurait être engagée si l'utilisation de ces sites ou applications, par l'utilisateur, lui causait un préjudice.
	</p>
	<h3>Article 3 - Géolocalisation</h3>
	<p>
	Conformément à l'article L. 34-1-V du code des postes et des communications électroniques, l'application collectant des données de localisation, elle doit permettre à l'utilisateur de rendre son accord exprès lors de l'installation et de modifier ce choix par la suite. <br>
	L'utilisation de la fonctionnalité de géolocalisation de l'application nécessite le consentement préalable exprès de l'utilisateur à être géolocalisé. Pour cela l'utilisateur devra activer, s'il le souhaite, la fonction de géolocalisation directement dans les réglages de son terminal mobile et accepter que l'application puisse y avoir recours. Cette fonctionnalité peut, à tout moment, et sans frais, être désactivée ou activée. <br>
	Grâce à l'acceptation de la fonction de géolocalisation par GPS du périphérique et de l'application, les services suivants sont offerts à l'utilisateur : La géolocalisation va permettre aux utilisateurs de découvrir les événements à proximité.. Le périphérique calcule alors lui-même sa position.
	La désactivation de géolocalisation par l'application et/ou de la géolocalisation du périphérique bloque les services offerts par l'application qui y sont liés et l'affichage de publicités géociblées.
	</p>
	Tous droits réservés - 5 décembre 2016
</div>