html,body {
    height: 100%;
    width: 100%;
}

body > .container{
    padding-top:60px;
    margin: 0;
}



.centering {
    float:none;
    margin:0 auto;
}

.col-lg-12 {
    text-align: center;
    margin-bottom: 30px;
}

.col-lg-7 {
    text-align: center;
}

.texte-slide {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    font-style: italic;
    font-weight: 300;
}

span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #6bb0da;
    font-weight: bold;
    vertical-align: sub;
}

.logo {
    max-width: 100%;
    width:135px;
    height:165px;
}

.featurette-divider {
    margin: 50px 0;
}

.featurette {
    overflow: hidden;
    padding: 50px 0;
    height:100vh;
}


.featurette-logo {
    overflow: hidden;
    padding: 20px 0;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-bottom: solid 1px #6bb0da;
    border-top: solid 1px #6bb0da;
    padding-top: 10px;
    padding-bottom: 10px;
}
.application {
    background-color: #ff5948;
    color: #ffffff;
}

.Title-application {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.blocLeft {
    padding-left: 50px;
}

.blocRight {
    padding-right: 50px;
    text-align: right;
}

.fonctionnality{
    font-family: 'Lato', sans-serif;
}

.fonctionnality p {
    font-weight: 400;
    font-size: 15px;
}

.fonctionnality h1 {

    font-weight: bold;
    font-size: 30px;
}

.blocCenter {
    text-align: center;
}


.heading-contact {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.texte-contact {

    font-weight: 300;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

.contact {
    background-color: #1b1c41;
}
.content {
    font-size: 35px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    height: 160px;
    overflow:hidden;
}

.visible {
    font-weight:600;
    overflow:hidden;
    height:45px;
    padding:0 40px;

&:before {
     content:'[';
     left: 0;
     line-height:40px;
 }
&:after {
     content:']';
     position:absolute;
     right: 0;
     line-height:40px;
 }
&:after, &:before {
              top:0;
              color:#16a085;
              font-size:42px;
              -webkit-animation-name: opacity;
              -webkit-animation-duration: 2s;
              -webkit-animation-iteration-count: infinite;
              animation-name: opacity;
              animation-duration: 2s;
              animation-iteration-count: infinite;

          }
}


ul {
    margin-top:0;
    text-align:center;
    list-style:none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    padding: 0;
}

ul li {
    line-height:45px;
    margin:0;
}

@-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@-webkit-keyframes change {
    0%, 12%, 100% {transform:translateY(0);}
    17%,29% {transform:translateY(-25%);}
    34%,46% {transform:translateY(-50%);}
    51%,63% {transform:translateY(-75%);}
    68%,80% {transform:translateY(-50%);}
    85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}

@keyframes change {
    0%, 12%, 100% {transform:translateY(0);}
    17%,29% {transform:translateY(-25%);}
    34%,46% {transform:translateY(-50%);}
    51%,63% {transform:translateY(-75%);}
    68%,80% {transform:translateY(-50%);}
    85%,97% {transform:translateY(-25%);}
}
@media(max-width:1200px) {

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:991px) {

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 20px;
    }
}

@media(max-width:668px) {

    .featurette-divider {
        margin: 30px 0;
    }
}


@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}




